@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-bebas: var(--font-bebas-neue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-active: 0 4px 24px rgba(192, 7, 7, 0.45);
  --shadow-soft: 0 4px 16px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 4px 20px rgba(0, 0, 0, 0.22);
}

body {
  min-height: 100vh;
  font-family: var(--font-erica-one), sans-serif;
}
